
/**
 * stylesheet for the status_router module.
 *  NOTE: if you would like to override this
 *  stlyesheet you may copy it to your theme
 *  directory.
 *
 * @file: status_router.css
 * @author: Elliott Foster
 * @copyright: NewMBC 2009
 */

.throbbing {
  width: 15px;
  height: 15px;
  margin: 2px;
  background: transparent url(../../../../../misc/throbber.gif) no-repeat 0px -18px;
}
